/* All styles for your header Components live here */

.card {
    padding: 0.5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.Header {
    display: flex; 
    flex-direction: row;
}

h2 {
    font-size: 0.8rem;
    font-weight: 1;
}

h1 {
    margin: 0;
    font-size: 0.8rem;
}

.LambdaTag {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom:-0.4rem;
}

.tag{
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: grey;
    margin-top: 0.3rem;
}

.logo{
    height: 3rem;
    margin-right: 0.5rem;
}

.content{
    padding-left: 3.3rem;
}

.banner{
    width: 100%;
    border-radius: 5px;
}

.article {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.details {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

.website {
    font-size: 0.8rem;
    color: grey;
    margin-top: 0.4rem;
}